<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'qtest/base/bootstraps.html' %}
</head>

<body>
    {% comment %}
    {% include 'qtest/base/header.html' %}
    {% include 'qtest/base/footer.html' %}
    {% endcomment %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container m-2">
                {{qtest|linebreaks}}
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>

</body>

</html>